{% extends 'base.html' %}


{% block content %}
{{ user.profile.cart }}
<ul class="list-group">
    {% for product in cart.products.all %}
    <li class="list-group-item">
      <p class="mb-0">{{product.name}} </p>
    <img src="{{ product.image.url }}" width="70" height="66">
    <p>{{ product.price}} рублей</p>
    <a class="btn btn-outline-primary" href="{{ product.get_absolute_url }}">Товар</a>
    <form method="POST" action="{% url 'remove_product' product.product_code %}">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Убрать">
     </form>
    </li>
    
    {% endfor %}
    
  </ul>
    
<h1 class="display-4">Итого: {{ total_price }} рублей</h1>
<a class="btn btn-primary btn-lg ml-1" href="{% url 'order' %}">Перейти к заказу</a>
{% endblock content %}
    
