{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Магазин</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Первая</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Вторая</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                  </li>
              </ul>
            </div>
          </nav>
        <!-- конец navbar -->

    <div class="alert alert-danger" role="alert">
        <strong>Ой</strong> Мы пока еще не открылись!
      </div>
    {% block content %}
   <!--<ul class="list-group">
    {% for i in products %}
    <li class="list-group-item ">{{ i.name }} | {{ i.categories.all|join:"," }} <a class="btn btn-primary" role="button" href="{{ i.get_absolute_url }}">Страница товара</a>
        <img class="irounded float-top w-25 pb-3" src="{{ i.image.url }} "> 
    </li>
    {% endfor %}
    </ul> -->
    {% for product in products %}
    <div class="card w-50 ml-2 mb-2">
        <img class="card-img-top w-25 ml-3 mt-3" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h6 class="card-title">Категории товара : {{ product.categories.all|join:',' }}</h5>
          <p class="card-text" >{{ product.description|truncatewords:100 }}</p>
          <h5 class="card-title">Цена : {{ product.price|floatformat }} рублей </h5> 
          <a href='{{ product.get_absolute_url }}' class="btn btn-primary">Подробнее</a>
          <!-- <a href="{% url 'product' product.product_code %}" class="btn btn-primary">Поasdasdдробнее</a>-->
        </div>
      </div>
    {% endfor %}
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>