{% extends 'base.html' %}
    {% block content %}
    {% for product in products %}
    <div class="card w-50 ml-2 mb-2">
      {% if product.image %}
        <img loading="lazy" class="card-img-top w-25 ml-3 mt-3" src="{{ product.image.url }}" alt="{{ product.name }}">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h6 class="card-title">Категории товара : {{ product.categories.all|join:',' }}</h5>
          <p class="card-text" >{{ product.description|truncatewords:100 }}</p>
          <h5 class="card-title">Цена : {{ product.price|floatformat }} рублей </h5> 
          <a href='{{ product.get_absolute_url }}' class="btn btn-primary">Подробнее</a>
        </div>
      </div>
    {% endfor %}
<!-- Pagination bar-->
    {% if page_obj.has_other_pages %}
<nav>
	<ul class="pagination justify-content-center">
{% if page_obj.has_previous %}
<li class="page-item">
	<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}
		{% for p in paginator.page_range %}
		{% if page_obj.number == p %}
		<li class="page-item"></li>
    <a class="page-link disabled">{{ p }}</a>
			{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
		<li class="page-item">
			<a class="page-link" href="?page={{ p }}">{{ p }}</a>
		</li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a>
		</li>
		{% endif %}
	</ul>
</nav>

{% endif %}
<!-- Pagination bar end-->
    {% endblock %}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>