{% extends 'base.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>

    {% block content %}
    <div class="card w-75 ml-2 mb-2" style="width: 18rem;">
        <img class="card-img-top w-25" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <h6 class="card-title">Категории товара : {{ product.categories.all|join:',' }}</h6>
          <h7 class="card-title">Код товара : {{ product.product_code }}</h7>
          <p class="card-text" >{{ product.description }}</p>
          <h5 class="card-title">Цена : {{ product.price|floatformat }} рублей </h5>
        </div>
      </div>
    {% endblock %}

</body>
</html>