{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<h1>Вы уже зарегистрированы как{{ user.username }}</h1>
{% else %}
<div class="container">
	<h1>Регистрация</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}                    
		<button class="btn btn-primary" type="submit">Регистрация</button>
	</form>
	<p class="text-center">Если у вас уже есть аккаунт, <a href={% url 'login' %}>войдите</a></p>
</div>
{% endif %}
{% endblock content %}